<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Headquarters -- A Place That Does Not Exist</title>
  </head>
  <body>
    <h1>Manage Your Project</h1>
    <br />
    <div>
    <h3>Characters</h3>

    <p> <a href="/characters"> View All </a> | <a href="/characters/new">Add New</a>
    </div>
    <div>
    <h3>Scenes</h3>

    <p> <a href="/scenes"> View All </a> | <a href="/scenes/new">Add New</a>
    </div>

  </body>
</html>
